## Deliverable 2. Create a Customer Travel Destinations Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [22]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather Description
0,0,Bambous Virieux,MU,-20.3428,57.7575,75.45,83,40,10.36,scattered clouds
1,1,La Ronge,CA,55.1001,-105.2842,59.25,21,75,6.91,broken clouds
2,2,Ust-Nera,RU,64.5667,143.2000,42.87,66,100,6.46,overcast clouds
3,3,Hilo,US,19.7297,-155.0900,80.28,83,100,6.91,light rain
4,4,Bluff,NZ,-46.6000,168.3333,51.80,77,99,28.79,overcast clouds

In [23]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
recommended_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
recommended_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather Description
0,0,Bambous Virieux,MU,-20.3428,57.7575,75.45,83,40,10.36,scattered clouds
3,3,Hilo,US,19.7297,-155.0900,80.28,83,100,6.91,light rain
5,5,Bathsheba,BB,13.2167,-59.5167,81.21,78,40,13.80,scattered clouds
9,9,Port Blair,IN,11.6667,92.7500,84.13,79,100,22.53,moderate rain
10,10,Saint George,US,37.1041,-113.5841,81.19,12,0,9.22,clear sky
15,15,Matara,LK,5.9485,80.5353,82.47,81,90,11.74,overcast clouds
16,16,Rikitea,PF,-23.1203,-134.9692,76.05,76,51,16.73,broken clouds
22,22,Rae Bareli,IN,26.2167,81.2333,89.49,42,6,12.01,clear sky
25,25,Giddalur,IN,15.3500,78.9167,85.96,58,60,20.54,broken clouds
33,33,Seoul,KR,37.5683,126.9778,81.97,44,40,4.61,mist

In [25]:
# 4a. Determine if there are any empty rows.
recommended_cities_df.count()

City_ID                        213
City                           213
Country                        213
Lat                            213
Lng                            213
Max Temp                       213
Humidity                       213
Cloudiness                     213
Wind Speed                     213
Current Weather Description    213
dtype: int64

In [33]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#clean_df_df = recommended_cities_df.count.dropna()
#clean_df_df.count()

In [36]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = recommended_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

KeyError: "['Current Description'] not in index"

In [37]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}




# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"
    

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()  

# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

NameError: name 'hotel_df' is not defined

In [38]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

NameError: name 'hotel_df' is not defined

In [39]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

NameError: name 'clean_hotel_df' is not defined

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<d1>
<d1>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<d1>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<d1>
"""
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

SyntaxError: EOF while scanning triple-quoted string literal (Temp/ipykernel_70340/3651184054.py, line 16)

In [ ]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig