In [1]:
# Import thttp://localhost:8888/notebooks/RUT-VIRT-DATA-PT-03-2022-U-B/World_Weather_Analysis/VacationPy.ipynb#he dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Severo-Yeniseyskiy,RU,2022-05-21 16:22:41,60.3725,93.0408,41.79,85,97,8.39
1,1,San Cristobal,VE,2022-05-21 16:22:41,7.7669,-72.2250,73.58,40,15,10.16
2,2,Namibe,AO,2022-05-21 16:22:41,-15.1961,12.1522,77.63,47,0,13.80
3,3,Wajima,JP,2022-05-21 16:22:41,37.4000,136.9000,61.70,79,95,9.57
4,4,Kahului,US,2022-05-21 16:20:59,20.8947,-156.4700,76.84,83,0,0.00

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Namibe,AO,2022-05-21 16:22:41,-15.1961,12.1522,77.63,47,0,13.80
4,4,Kahului,US,2022-05-21 16:20:59,20.8947,-156.4700,76.84,83,0,0.00
8,8,Kapaa,US,2022-05-21 16:22:42,22.0752,-159.3190,75.18,99,100,3.44
9,9,Guayaramerin,BO,2022-05-21 16:22:43,-10.8368,-65.3614,84.25,48,0,5.75
10,10,Mutis,CO,2022-05-21 16:22:43,6.2262,-77.4044,82.72,71,100,3.67
18,18,Muros,ES,2022-05-21 16:22:45,42.7762,-9.0603,76.15,69,100,6.20
20,20,Atuona,PF,2022-05-21 16:22:45,-9.8000,-139.0333,77.14,76,22,9.98
27,27,Puerto Ayora,EC,2022-05-21 16:22:47,-0.7393,-90.3518,75.16,88,72,7.00
34,34,Barcelos,PT,2022-05-21 16:21:54,41.5388,-8.6151,75.85,54,100,5.53
37,37,Madimba,TZ,2022-05-21 16:22:49,-10.4000,40.3333,76.10,76,50,9.22

In [10]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2         Namibe      AO     77.63 -15.1961   12.1522
4        Kahului      US     76.84  20.8947 -156.4700
8          Kapaa      US     75.18  22.0752 -159.3190
9   Guayaramerin      BO     84.25 -10.8368  -65.3614
10         Mutis      CO     82.72   6.2262  -77.4044
18         Muros      ES     76.15  42.7762   -9.0603
20        Atuona      PF     77.14  -9.8000 -139.0333
27  Puerto Ayora      EC     75.16  -0.7393  -90.3518
34      Barcelos      PT     75.85  41.5388   -8.6151
37       Madimba      TZ     76.10 -10.4000   40.3333

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
!jupyter nbextension list

Known nbextensions:
  config dir: C:\ProgramData\Anaconda3\etc\jupyter\nbconfig

      - Validating: ok

    notebook section
      jupyter-js-widgets/extension enabled

In [19]:
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\Scripts\jupyter-nbextension-script.py", line 10, in <module>
    sys.exit(main())
  File "C:\ProgramData\Anaconda3\lib\site-packages\jupyter_core\application.py", line 264, in launch_instance
    return super(JupyterApp, cls).launch_instance(argv=argv, **kwargs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\ProgramData\Anaconda3\lib\site-packages\notebook\nbextensions.py", line 980, in start
    super().start()
  File "C:\ProgramData\Anaconda3\lib\site-packages\jupyter_core\application.py", line 253, in start
    self.subapp.start()
  File "C:\ProgramData\Anaconda3\lib\site-packages\notebook\nbextensions.py", line 888, in start
    self.toggle_nbextension_python(self.extra_args[0])
  File "C:\ProgramData\Anaconda3\lib\site-packages\notebook\nbextensions.py", line 861, in toggle_nbextension_python
    return toggle(module,
  File "C:\ProgramData\Anaconda3\lib\site-packages\notebook\nbextensions.py", line 474, in enable_nbextension_python
    return _set_nbextension_state_python(True, module, user, sys_prefix,
  File "C:\ProgramData\Anaconda3\lib\site-packages\notebook\nbextensions.py", line 373, in _set_nbextension_state_python
    return [_set_nbextension_state(section=nbext["section"],
  File "C:\ProgramData\Anaconda3\lib\site-packages\notebook\nbextensions.py", line 373, in <listcomp>
    return [_set_nbextension_state(section=nbext["section"],
  File "C:\ProgramData\Anaconda3\lib\site-packages\notebook\nbextensions.py", line 343, in _set_nbextension_state
    cm.update(section, {"load_extensions": {require: state}})
  File "C:\ProgramData\Anaconda3\lib\site-packages\notebook\config_manager.py", line 131, in update
    self.set(section_name, data)
  File "C:\ProgramData\Anaconda3\lib\site-packages\notebook\config_manager.py", line 120, in set
    f = io.open(filename, 'w', encoding='utf-8')
PermissionError: [Errno 13] Permission denied: 'C:\\ProgramData\\Anaconda3\\etc\\jupyter\\nbconfig\\notebook.json'